
<!DOCTYPE html>
<html>
<head>
	<title>IM</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">
	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://1.gtbcode.sinaapp.com/css/style.css">
	<link rel="stylesheet" href="http://1.gtbcode.sinaapp.com/css/jquery.atwho.css">
	<link rel="stylesheet" href="/static/css/chat.css">
	
	
	<script src="http://1.gtbcode.sinaapp.com/load.php?c=1&type=js&load=jquery.js,jquery.plugin.js,jquery.atwho.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/static/js/angular.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/static/js/client.js"></script>
	<script src="/static/js/chat.js"></script>

	<script>

	var KEY_CODE = {
			leftArrow:37,
			upArrow:38,
			rightArrow:39,
			downArrow:40,
			enter:13
	};
	
	</script>
	<style>
		
	</style>
</head>
<body>
<div class="chat" ng-app="app" ng-controller="imController" >
	<div class="chat-head">
		<div class="row">
			<div class="col-md-12" >
				<span class="label label-default" style="float:left;" >{{user.name }}</span>
				<span class="label label-danger col-md-offset-1" style="float:left;"  >{{online}}</span>
			</div>
		</div>
	</div>
	<div class="chat-body">
		<div class="row chat-list" >
		   <div class="col-md-12">
				<div class="list-group" list>
					<div class="list-group-item" ng-repeat="message in list">
						<div ng-if="message.tip" >
							<div class='alert alert-success alert-dismissable' style='font-size: 12px;'>
								<button type='button' class='close animate' ng-click="remove($index)" aria-hidden='true' style='right:-15px;'>&times;</button>
								<div ng-bind-html="message.tip" ></div>
									
							</div>
						</div>
						
						<div ng-if="!message.tip" class="chat-message {{message.self}}" >
							<span class="label label-default chat-name " >{{message.name}}</span>
							<span class="chat-text" >{{message.text}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="chat-foot">
		<form ng-submit="submit()" >
		   <div class="file"></div>
		   <textarea check-len="1" name="text" ng-model="message.text" ng-keyup="keyup($event)" class="form-control" resize="false" placeholder="发送 “#help”查看帮助" ></textarea>
		   <input type="submit" value=" " class="btn btn-default btn-warning" />
		</form>
	</div>
</div>
</body>
</html>
