<!DOCTYPE web-app
  PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
  'http://java.sun.com/dtd/web-app_2_3.dtd'>
<web-app>
	<display-name>Archetype Created Web Application</display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>com.util.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<listener>  
    	<listener-class>com.lcs.event.SessionListener</listener-class>  
	</listener>    
    
    <!-- ******************************************* -->
    <servlet>
        <servlet-name>sendV2</servlet-name>
        <servlet-class>com.lcs.im.ChatV2</servlet-class>
        <init-param>
            <param-name>method</param-name>
            <param-value>send</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>listenV2</servlet-name>
        <servlet-class>com.lcs.im.ChatV2</servlet-class>
        <init-param>
            <param-name>method</param-name>
            <param-value>listen</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>frame</servlet-name>
        <servlet-class>com.lcs.im.ChatV2</servlet-class>
        <init-param>
            <param-name>method</param-name>
            <param-value>frame</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>sendV2</servlet-name>
        <url-pattern>/sendV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listenV2</servlet-name>
        <url-pattern>/listenV2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>frame</servlet-name>
        <url-pattern>/frame</url-pattern>
    </servlet-mapping>
</web-app>